.tile {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;

}
.tile-fog {
    background: black;
}

.tile-0 {
    background: url(./textures/wallset.png) 0px 0px;
}


.tile-1 {
    background: url(./textures/wallset.png) -16px 0px;
}


.tile-2 {
    background: url(./textures/wallset.png) -32px 0px;
}


.tile-3 {
    background: url(./textures/wallset.png) -48px 0px;
}

.tile-4 {
    background: url(./textures/wallset.png) 0px -16px;
}


.tile-5 {
    background: url(./textures/wallset.png) -16px -16px;
}


.tile-6 {
    background: url(./textures/wallset.png) -32px -16px;
}


.tile-7 {
    background: url(./textures/wallset.png) -48px -16px;
}


.tile-8 {
    background: url(./textures/wallset.png) 0px -32px;
}


.tile-9 {
    background: url(./textures/wallset.png) -16px -32px;
}

.tile-10 {
    background: url(./textures/wallset.png) -32px -32px;
}

.tile-11 {
    background: url(./textures/wallset.png) -48px -32px;
}

.tile-12 {
    background: url(./textures/wallset.png) 0px -48px;
}


.tile-13 {
    background: url(./textures/wallset.png) -16px -48px;
}


.tile-14 {
    background: url(./textures/wallset.png) -32px -48px;
}


.tile-15 {
    background: url(./textures/wallset.png) -48px -48px;
}

.empty {
    background-color: red;
}

.door {
    background: url(./textures/wallset.png) -48px -48px;
}