td {
    margin: 0;
    padding: 0.5rem;
    min-width: 1rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.grid{
}

table {
    border-collapse: collapse;
    border-spacing: 0 !important;
}
.stats_container {
    width: 18rem;
    height: auto;
}
.stat_list {
    padding: 0;
    margin-right: 1rem;
}
.map_container {
    display: flex;
}

.wall {
    background: black
}

.tunnel {
    background: gray;
}

.player {
    background: blue;
}

.mob {
    background: red;
}